// https://coolors.co/4a4063-bfacc8-c8c6d7-783f8e-4f1271
//https://coolors.co/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15
// https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff

// $bg-card: #74c69d;
// $bg-main: #f3f3f3;
// $text-primary: #081c15;
// $text-title: #2d6a4f;
// $text-subtitle: #40916c;

$bg-card: #d6d6d6;
$bg-main: #f3f3f3;
$btn-hover: #fca311;
$text-primary: #14213d;
$text-title: #2d6a4f;
$text-subtitle: #000000;
